{% extends 'BLOG/basic.html' %}
{% load crispy_forms_tags %} 
{% block body %}
    <div class="content-section" style="margin-top: 30px;">
        <form method="POST" style="margin-left: 100px">
            {% csrf_token %}
            <fieldset class="form-group" style="margin-left: 10px;margin-right: 200px">
                <legend class="border-bottom mb-4">Add Comment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-sm" type="submit" 
                style="margin-left: 350px;width: 300px;height: 45px;font-size: 25px">
                    Post</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}